<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="EmployeeDBEntities" connectionString="metadata=res://*/EntityFrameWorkModels.EmployeeModel.csdl|res://*/EntityFrameWorkModels.EmployeeModel.ssdl|res://*/EntityFrameWorkModels.EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NITEL-KONDWANI;initial catalog=EmployeeDB;user id=sa;password=@1450kondwani;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>